<div class="alert alert-danger" role="alert">
        Заявка не отправлена, проверьте введенные данные
      </div>


                  <!-- <div class = 'additional_offer'>
                        <div class = "add_offer_text">
                            <a href="#aqvarel" ><img src="static/css/akvarel.jpg" style = 'height: auto;' id = 'aqvarel-image'></a>
                            <br> 
                            Жк акварель
                        </div>
                        <div class = "add_offer_text">
                                <img src="static/css/petro.jpg" style = 'height: auto;'>
                                <br>
                                Недвижимость в Спб
                            </div> -->