{%extends 'base.html'%}

{%block header%}
<div class="row">
    <div class="col-8">
        <div class="row">
            <div class="col-sm">
              Лого

            </div>
            <div class="col-sm">
              <div class="d-flex align-items-center">
                <div class="dropdown">
                        <button class="dropbtn">Наши объекты</button>
                        <div class="dropdown-content">
                                <a href="/#rodonitovaya">Родонитовая</a>
                                <a href="/#aqvarel">ЖК Акварель</a>
                                <a href="/prices">Цены</a>
                      
                        </div>
                        </div>
            </div>

            </div>
            <div class="col-sm">
                <div class="d-flex align-items-center">
                    <div class="dropdown">
                            <button class="dropbtn">О нас</button>
                            <div class="dropdown-content">
                                <a href="/#news-and-disc">Новости и акции</a>
                                <a href="/#bottom">Контакты</a>
                                <a href="#">Любая кнопка</a>
                            </div>
                            </div>
                </div>
              
            </div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
            <div class="col-sm">col-sm</div>
          </div>
            
    </div>
        <div class="col-4"><button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#myModal" hidden>Получить консультацию</button></div>

    </div>

{%endblock%}

{% block content%}

<div style = 'height: 800px;'> 
    <h1>СТРАНИЦА БУДЕТ НАПОЛНЯТЬСЯ</h1>

</div>


{%endblock%}